#separator *.line{
    -fx-border-width: 2;
}

.bordure-normale {
    -fx-border-color: black;
    -fx-border-width: 4;
}

/*noinspection CssUnusedSymbol*/
.bordure-hover {
    -fx-border-color: blue;
    -fx-border-width: 2;
}