#boite {
    -fx-background-size: contain;
    -fx-border-style: solid;
    -fx-background-position: center center;
}

.boite-normal {
    -fx-border-color: black;
    -fx-border-width: 4;
}

.boite-hover {
    -fx-border-color: blue;
    -fx-border-width: 2;
}